.dashboard {
  padding: 60px;
  background: #f9fafb;
  min-height: 90vh;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 25px;
  flex: 1;
  border-radius: 10px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.08);
}
