.navbar {
  display: flex;
  justify-content: space-between;
  padding: 18px 60px;
  background: white;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #1b2a4e;
}

.nav-links a {
  margin-left: 25px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.login-btn {
  background: #f59e0b;
  padding: 8px 18px;
  border-radius: 6px;
  color: white !important;
}
