.hero {
  height: 90vh;
  background: linear-gradient(90deg, #1e3a8a, #f59e0b);
  color: white;
  text-align: center;
  padding-top: 150px;
}

.hero h1 {
  font-size: 50px;
}

.hero span {
  color: #f59e0b;
}

.hero p {
  margin-top: 20px;
  font-size: 18px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.hero-buttons {
  margin-top: 30px;
}

.primary-btn {
  background: #f59e0b;
  border: none;
  padding: 12px 28px;
  margin-right: 15px;
  border-radius: 8px;
  font-weight: bold;
}

.secondary-btn {
  background: transparent;
  border: 2px solid white;
  padding: 12px 28px;
  border-radius: 8px;
  color: white;
}
